/*background-color: hsl(177, 0%, 81%);*/
/*color: hsl(177, 0%, 28%);*/
html{
	font-family: "Raleway";
	font-size: 8px;
	background-color: hsl(177, 0%, 95%);
}

.mobile{
	display: none;
}

.name /* h1 */ {
	font-weight: 800;
	font-size: 6rem;
	padding-bottom: 4rem;
}

h2/* Name #2 */{
	font-weight: 800;
	font-size: 5rem;
}

h3/* Name #3 */{
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 3.5rem;
}

h6/* Name #6 */{
	font-weight: 600;
	font-size: 1.5rem;
}

p/* Name for paragraphs */{
	font-weight: 400;
	font-size: 2.3rem;
}

.read-more{
	font-family: 'Roboto';
	text-decoration: none;
	font-size: 2rem;
	font-weight: 400;
	color: hsl(200, 82%, 52%);
}

.courses{
	font-family: "Raleway";
	font-weight: 300;
	font-size: 3rem;
	padding: 2rem 0;
}

/* Header */
.header{
	height: 8rem;
	width: 100%;
	text-align: center;
	background-color: white;
}

.header .computer-head{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 3rem 0rem 3rem;
}

.header .logo{
	display: flex;
	flex-direction: row;
	align-items: center;
	
}
.header .logo p{
	color: hsl(177, 0%, 61%);
	font-size: 4rem;
}

.header .logo img{
	height: 6rem;
}

.header .logo em{
	font-weight: 600;
	color: hsl(177, 0%, 12%);
}

.header .computer-head nav{
	display: flex;
	flex-direction: row;
	font-size: 2.5rem;
}

.header .computer-head nav a{
	padding-left: 2rem;
	text-decoration: none;
	color: hsl(177, 0%, 12%);
}

/*Header Mobile Version*/
@media only screen and (max-width: 1024px){
	#computer-head{
		display: none;
	}

	.head{
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 2rem 0;
	}

	.head img{
		height: 5rem;
		padding-bottom: 1rem;
	}
}

/* Banner */

.banner{
	background-color: hsl(177, 0%, 81%);
	display: flex;
	flex-direction: row;
}

.banner .photo img{	
	width: 90%;
	padding: 4rem 3rem;
	display: flex;
	justify-content: center;
}

.banner .text1{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	margin-right: 15rem;
	color: hsl(177, 0%, 24%);
}

.banner .text1 h4{
	font-weight: 600;
	padding-bottom: 3rem;
}

.banner .button{
	width: 100%;
	text-align: center;
	padding: 2rem 0;
	font-size: 2.5rem;
	background-color: hsl(177, 0%, 24%);
	color: white; 
}

.banner .button a{
	color: white;
	text-decoration: none;
}

.banner .button:active{
	background-color: hsl(177, 0%, 57%);
}


@media only screen and (max-width: 1024px){
	.banner{
		flex-direction: column;
	}

	.banner .photo img{
		width: 100%;
		padding: 0 0 4rem 0;
	}

	.text1{
		width: 90%;
		padding-right: 2rem;
		padding-left: 4%;
	}

	.name/* h1 */{
		font-size: 5.6rem;
	}

	.banner .text1 h4{
		color: hsl(177, 0%, 28%);
		font-size: 3.1rem;
		margin-right: 0;
	}

	.banner .button{
		width: 96%;
		justify-content: center;
		align-items: center;
		font-weight: 600;
		background-color: hsl(177, 0%, 44%);
		font-size: 2.6rem;
		margin: auto;
		padding: 2rem 0;
		padding-left: 2rem;
		margin-bottom: 4rem;
	}

}

/*List 2 or Information*/
.list2{
	color: hsl(177, 0%, 28%);
}

.computer-list2{
	display: flex;
	flex-direction: row;
}

.practising{
	border-right: 0.1rem solid;
	border-color: hsl(177, 0%, 78%);
	width: 55%;
	display: flex;
	flex-direction: column;
}

#man-is-reading{
	width: 92%;
	padding: 4rem 3rem;
}

.text2{
	padding-left: 3rem;
	width: 92%;
}

.text2 h2{
	padding-bottom: 3rem;
}

.text2 h6{
	padding: 4rem 0;
}

/*Text from right side*/
.group-of-three{
	display: flex;
	flex-direction: column;
	float: right;
	width: 45%;
}

.orientation, .campus, .lecture{
	border: 0.1rem  solid;
	border-color: hsl(177, 0%, 81%);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.orientation img, .campus img, .lecture img{
	width: 30%;
	height: 30%;
	margin: 2rem;
}

.text3, .text4, .text5{
	width: 70%;
}

.text3 p, .text4 p, .text5 p{
	padding: 1rem 0;
}


.orientation:hover, .campus:hover, .lecture:hover{
	background-color: hsl(177, 0%, 81%);
}

@media only screen and (max-width: 1024px){
	.list2 .computer-list2{
		display: none;
	}

	.list-2{
		display: flex;
		border: 0.1rem  solid;
		border-color: hsl(177, 0%, 81%);
	}

	.group-of-three{
		width: 100%;
	}

	.orientation, .campus, .lecture{
		border: none;
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		padding-bottom: 4rem;
	}

	.orientation img, .campus img, .lecture img{
		width: 90%;
		height: auto;
		margin: 2rem auto;
	}

	.text3, .text4, .text5{
		width: 95%;
		line-height: 1.2;
		padding-left: 5%;
	}
}

/* List 3 */
.list3{
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: hsl(177, 0%, 81%);
	color: hsl(177, 0%, 28%);
}

.list3 h2{
	padding: 5rem 0;
}

.first-line{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0rem 9rem 2rem 9rem;
}

.second-line{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0rem 9rem 4rem 9rem;
}

.software, .computer-art, .design, .data, .business, .marketing{
	width: 28%;
	background-color: white;
	text-align: left;
}

.computer-art, .business{
	margin-left: 4rem;
	margin-right: 4rem;
}

.software img, .computer-art img, .design img, .data img, .business img, .marketing img{
	width: 100%;
}

.text6, .text7, .text8, .text9, .text10, .text11{
	padding: 2rem;
}

.text6 p, .text7 p, .text8 p, .text9 p, .text10 p, .text11 p{
	padding-bottom: 3rem;
}

@media only screen and (max-width: 1024px){
	.list3{
		background-color: white;
		border: 0.1rem  solid;
		border-top: 0;
		border-color: hsl(177, 0%, 81%);
	}

	.list3 .group-of-six{
		display: none;
	}

	.list-3{
		display: flex;
		flex-direction: column;
	}

	.list3 h2{
	padding: 3rem 0 2rem 0;
	}

	.text6, .text7, .text8, .text9, .text10, .text11{
		background-color: hsl(177, 0%, 81%);
		padding: 3rem;
		margin: 1rem 3rem;
		text-align: left;
	}

	.text11{
		margin-bottom: 4rem;
	}

	.text6:active,
	.text7:active,
	.text8:active,
	.text9:active,
	.text10:active,
	.text11:active{
		background-color: hsl(177, 0%, 57%);
	}
}

/*List 4*/
.list4{
	color: hsl(177, 0%, 28%);
}

.list4 h2{
	padding: 5rem 0;
	text-align: center;
}

.computer-list-4{
	display: flex;
	flex-direction: row;
}
.reimagine-urban{
	width: 55%;
	display: flex;
	flex-direction: column;
	margin: 0 2rem;
	padding-bottom: 4rem;
}

.reimagine-urban video{	
	width: 100%;
	display: flex;
	justify-content: center;
}

.text12 h3{
	padding: 3rem 0;
}

.group-of-two{
	display: flex;
	flex-direction: column;
	float: right;
	width: 45%;
}

.fisma, .now-and-then{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.fisma img, .now-and-then img{
	width: 30%;
	height: 30%;
	margin: 2rem;
}

.text13, .text14{
	width: 70%;
}

.text13 p, .text14 p{
	padding: 1rem 0;
}


.fisma:hover, .now-and-then:hover{
	background-color: hsl(177, 0%, 81%);
}

@media only screen and (max-width: 1024px){
	.computer-list-4{
		display: none;
	}

	.list-4{
		display: contents;
	}

	.list-4 video{
		width: 100%;
	}
}

/* Footer */
footer{
	height: 9rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	border-top: 0.1rem solid;
	border-color: hsl(177, 0%, 78%); 
}

footer p{
	font-size: 1.5rem;
	color: hsl(177, 0%, 12%);
}

.copyright{
	display: flex;
	flex-direction: row;
	padding: 2rem 3rem;
}

.computer-footer{
	width: 11rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2rem;
}

.terms nav a{
	display: flex;
	text-decoration: none;
	color: hsl(177, 0%, 12%);
	font-size: 1.5rem;
}

@media only screen and (max-width: 1024px){
	.computer-footer{
		display: none;
	}

	footer{
		align-items: flex-end;
		color: hsl(177, 0%, 6%);
	}
}